# keys/licences
OS_API_KEY= # "https://api.opensanctions.org/match/default"
OTX_API_KEY= #alienvault
SANCTIONS_API_KEY= # https://www.ofac-api.com
MISTRAL_KEY=
PW_LICENSE=
# all gemini api keys
GOOGLE_API_KEY=
ALT_GOOGLE_API_KEY=
GOOGLE_CLOUD_API_KEY_1=
GOOGLE_CLOUD_API_KEY_2=
GOOGLE_CLOUD_API_KEY_3=
GOOGLE_CLOUD_API_KEY_4=
GOOGLE_CLOUD_API_KEY_5=
GEMINI_API_KEY=

# custom search engine api from google
PROGRAMMABLE_SEARCH_ENGINE_ID_1=
PROGRAMMABLE_SEARCH_ENGINE_ID_2=
PROGRAMMABLE_SEARCH_ENGINE_ID_3=
PROGRAMMABLE_SEARCH_ENGINE_ID_4=
PROGRAMMABLE_SEARCH_ENGINE_ID_5=

GOOGLE_APPLICATION_CREDENTIALS= # path to service account jsonl (should be in root)
EMBEDDING_API_KEY= # mistral/mistral-embed key
CROSS_ENCODER_MODEL= 

# config (global)
checked=False
LOG_LEVEL=INFO
LLM_MODEL=mistral/mistral-small-latest
EMBEDDING_MODEL=mistral/mistral-embed
PATHWAY_MCP_URL="http://localhost:8123/mcp/"

# Kafka (for global consts)
DB_TOPIC = 'db_updates'
MAIN_BACKEND_TOPIC = 'entities'
FRAUD_TOPIC = "possible_fraud"
BOOTSTRAP_SERVERS = 'localhost:9092'
GROUP_ID = '0'
SESSION_TIMEOUT_MS = '6000'
AUTO_OFFSET_RESET = 'earliest'

# AWS S3
AWS_BUCKET_NAME=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_PROFILEPIC_BUCKET=

# Postgres
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DBNAME=
POSTGRES_USER=
POSTGRES_PASSWORD=

# GCP
PROCESSOR_NAME=