dotenv
guardrails-ai
"pathway[xpack-llm-docs]"
google-cloud-documentai
faiss-cpu
deepface
newspaper3k
lxml[html_clean]
news-please
OTXv2
tf-keras
google_image_search
"pathway[llm-local]"
"pathway[xpack-llm]"
crewai
crewai[google-genai]
uvicorn
fastapi
catboost